@import "../common/var";

@include b(date-range-picker) {
  width: 646px;

  &.has-sidebar {
    width: 756px;
  }

  table {
    table-layout: fixed;
    width: 100%;
  }

  .el-picker-panel__body {
    min-width: 513px;
  }

  // 自增年月按钮样式
  .el-custom-button-all {
    // 按钮色
    $color1: #9A58DB;
    // 链接的背景底色
    $color2: #E4C9FF;
    padding: 5px 0;
    background: linear-gradient(#FFF, #EDEDED);
    ul {
      margin: 0;
      padding: 10px 15px;
      display: flex;
      flex-flow: row;
      justify-content: space-around;
    }
    li {
      position: relative;
      height: 20px;
      line-height: 20px;
      list-style-type: none;
    }
    button {
      position: relative;
      margin: 0;
      padding: 0 10px;
      font-size: $--button-font-size;
      z-index: 2;
    }
    .el-custom-button-active, .el-custom-button-active-first {
      &::before {
        position: absolute;
        top: 0px;
        right: -5px;
        width: 12px;
        height: 20px;
        content: '';
        background: $color2;
        z-index: 1;
      }
      button {
        color: $--color-white;
        background: $color1;
        border-radius: 50px;
      }
      &+.el-custom-button-active::before {
        right: inherit;
        left: -6px;
      }
    }
    .el-custom-button-year-all {
      justify-content: flex-start;
      li {
        padding: 0 20px;
        &:first-of-type {padding-left: 0;}
      }
      .el-custom-button-active {
        &::before {
          width: 35px;
        }
      }
    }
    .el-custom-button-active-only button{
      color: $--color-white;
      background: $color1;
      border-radius: 50px;
    }
    .el-custom-button-active-first::before {
      right: inherit;
      left: -6px;
    }
  }

  .el-picker-panel__content {
    margin: 0;
  }

  @include e(header) {
    position: relative;
    text-align: center;
    height: 28px;

    [class*=arrow-left] {
      float: left;
    }

    [class*=arrow-right] {
      float: right;
    }

    div {
      font-size: 16px;
      font-weight: 500;
      margin-right: 50px;
    }
  }

  @include e(content) {
    float: left;
    width: 50%;
    box-sizing: border-box;
    margin: 0;
    padding: 16px;

    @include when(left) {
      border-right: 1px solid $--datepicker-inner-border-color;
    }

    @include when(right) {
      .el-date-range-picker__header {

        div {
          margin-left: 50px;
          margin-right: 50px;
        }
      }
    }
  }

  @include e(editors-wrap) {
    box-sizing: border-box;
    display: table-cell;

    @include when(right) {
      text-align: right;
    }
  }

  @include e(time-header) {
    position: relative;
    border-bottom: 1px solid $--datepicker-inner-border-color;
    font-size: 12px;
    padding: 8px 5px 5px 5px;
    display: table;
    width: 100%;
    box-sizing: border-box;

    > .el-icon-arrow-right {
      font-size: 20px;
      vertical-align: middle;
      display: table-cell;
      color: $--datepicker-icon-color;
    }
  }

  @include e(time-picker-wrap) {
    position: relative;
    display: table-cell;
    padding: 0 5px;

    .el-picker-panel {
      position: absolute;
      top: 13px;
      right: 0;
      z-index: 1;
      background: $--color-white;
    }
  }
}
